<ion-view view-title="Juega Aprendiendo">
  <ion-content class="are">
  	<h1 class="title" id="mem">Juego de Memoria</h1>
    <section class=ejemplo>
    <div class=controles>
      <div class=boton>
        <a id='iniciar' class=init>Iniciar</a>
      </div>
      <div class=boton>
        <a id='reiniciar' class=reinit>Reiniciar</a>
      </div>
    </div>
    <div class=memoria>
      <article class=unoUno data-pareja=uno>
        <span><img src="../img/vitD.gif" class="cart"></span>
      </article>
      <article class=unoDos data-pareja=cuatro>
        <span><img src="../img/vitE.jpg" class="cart"></span>
      </article>
      <article class=dosUno data-pareja=dos>
        <span><img src="../img/vitA.jpg" class="cart"></span>
      </article>
      <article class=dosDos data-pareja=tres>
        <span><img src="../img/vitC.jpg" class="cart"></span>
      </article>
      <article class=tresUno data-pareja=tres>
        <span><img src="../img/vitC.jpg" class="cart"></span>
      </article>
      <article class=tresDos data-pareja=dos>
        <span><img src="../img/vitA.jpg" class="cart"></span>
      </article>
      <article class=cuatroUno data-pareja=uno>
        <span><img src="../img/vitD.gif" class="cart"></span>
      </article>
      <article class=cuatroDos data-pareja=cuatro>
        <span><img src="../img/vitE.jpg" class="cart"></span>
      </article>
    </div>
    <div class='retro msn'>
      <p>
      </p>
    </div>
    <div class=retro id='final'>
         <p>
         </p>
      </div>
  </section>
  </ion-content>
</ion-view>
