<ion-view view-title="Aprendendizaje">
  <ion-content class="now">
    <h2 class="tile">Infografia</h2>
    <img src="../img/infografia.png" class="fotito">
    <h2 class="tile">Metodos Anticonceptivos</h2>
    <iframe width="100%" height="220px" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="fotitox" allowfullscreen></iframe>
    <h2 class="tile">Fecundación</h2>
    <iframe width="100%" height="220px" src="https://www.youtube.com/embed/_f0X_trbApw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="fotitox" allowfullscreen></iframe>
    <h2 class="tile">Desarrollo Embrionario</h2>
    <iframe width="100%" height="220px" src="https://www.youtube.com/embed/4vRIeGk519w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="fotitox" allowfullscreen></iframe>
    <h2 class="tile">Tabla Nutricional (Jovenes)</h2>
    <img src="../img/piramide.gif" class="fotito">

  </ion-content>
</ion-view>
